@import "../shared/helper";


.home {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;

  > header {
    height: px(58);
    background-size: cover;
  }

  > footer {
    height: px(16);
    background-color: coral;
  }

  > main {
    flex: 1;
    display: grid;
    grid-template:
      "box1 box2 box3" 643fr/274fr 688fr 274fr;
    grid-column-gap: px(15);
    grid-row-gap: px(15);
    margin: px(15) px(20);

    > .section1 {
      grid-area: box1;
      background: $blue;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    > .section2 {
      grid-area: box2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > .charts {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > .chart {
          flex: 1;
          width: 100%;
        }
      }
    }

    > .section3 {
      grid-area: box3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .顾客群体, .男女比例, .客流峰值, .顾客类型, .到店频次, .到店间隔 {
      height: px(167);
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        flex-shrink: 0;
        font-size: px(14);
        line-height: px(14);
        padding-top: px(11);
        position: relative;

        &::after {
          position: absolute;
          left: px(-60);
          top: px(16);
          content: '';
          width: px(50);
          height: px(1);
          background: linear-gradient(271deg, #28a5cb 0%, #102550 70%);
        }

        &::before {
          position: absolute;
          left: px(93);
          top: px(16);
          content: '';
          width: px(50);
          height: px(1);
          background: linear-gradient(271deg, #102550 0%, #28a5cb 70%);
        }
      }

      .chart {
        display: flex;
        flex: 1;
        width: 100%;
      }
    }

    .男女比例, .巡店问题, .巡店报表, .店内考评, .历年统计, .到店频次 {
      height: px(208);
      display: flex;
      flex-direction: column;

      > .chart {
        display: flex;
        flex: 1;
        position: relative;

        > .main {
          flex-grow: 1;
        }

        > .text {
          position: absolute;
          top: px(54);
          right: px(95);
          width: px(76);
          height: px(76);
          border-radius: 50%;
          background: linear-gradient(180deg, rgba(209, 136, 67, 1) 0%, rgba(209, 136, 67, 0) 100%);
          text-align: center;
          font-size: px(14);
          white-space: break-spaces;
          line-height: px(76);
        }
      }
    }


    .巡店问题, .巡店报表, .店内考评, .门店排名, .历年统计, {
      width: px(160);

      h2 {
        font-size: px(12);
        position: relative;
        top: px(12);
        left: px(12);
      }

      > .chart {
        > .text01 {
          position: absolute;
          top: 40%;
          left: 38%;
          width: px(50);
          border-radius: 50%;
          font-size: px(14);
          white-space: break-spaces;
        }
      }
    }


    .历年统计 {
      height: px(167);
      width: 100%;
    }

    .巡店报表 {
      width: px(248);
    }

    .店内考评 {
      width: px(204);
    }

    .门店排名 {
      height: px(213);
      width: 100%;

      > .rank {
        padding: 0 px(24);
        height: px(166);
        text-align: left;

        > table {
          width: 100%;
          margin-top: px(25);
          border-collapse: collapse;

          th, td {
            height: px(25);
            font-size: px(10);
          }

          thead {
            th {
              color: #04bed0;
            }
          }

          tbody {
            tr:nth-child(2n-1) {
              background: linear-gradient(90deg, rgba(10, 66, 114, 1) 0%, rgba(10, 66, 114, 0) 100%);
            }
          }
        }
      }
    }

    .客流峰值, .到店间隔 {
      height: px(213);

      > .upPart {
        > h3 {
          font-size: px(14);
          padding-top: px(5);

          > span {
            color: #03d1db;
          }
        }

        > div {
          padding: px(9) 0;

          > p {
            font-size: px(10);
            padding-bottom: px(2);
          }

          div {
            width: px(200);
            height: px(7);
            background-color: #233b6c;
            border-radius: px(4);
            position: relative;

            &::after {
              position: absolute;
              content: '';
              width: 65%;
              height: px(7);
              border-radius: px(4);
              background: linear-gradient(90deg, rgba(255, 177, 119, 1) 0%, rgba(255, 83, 83, 1) 100%);
            }

            &.upPart2 {
              &::after {
                content: '';
                width: 55%;
                background: linear-gradient(90deg, rgba(120, 163, 255, 1) 0%, rgba(139, 88, 255, 1) 100%);
              }
            }

            &.upPart3 {
              &::after {
                content: '';
                width: 80%;
                background: linear-gradient(90deg, rgba(115, 238, 197, 1) 0%, rgba(73, 204, 240, 1) 100%);
              }
            }

            &.upPart4 {
              &::after {
                content: '';
                width: 40%;
                background: linear-gradient(90deg, rgba(44, 205, 255, 1) 0%, rgba(55, 108, 222, 1) 100%);
              }
            }
          }
        }
      }
    }
  }

  > footer {
    text-align: center;
    font-size: px(12);
  }
}

.bordered {
  position: relative;
  background: #0c1139;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: 0px -1px 1px 0px rgba(62, 136, 189, 0.35) inset,
    0px 1px 1px 0px rgba(62, 136, 189, 0.35) inset;
  }
}