@import "../shared/helper";


.home {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;

  > header {
    height: px(58);
    background-size: cover;
  }

  > footer {
    height: px(19);
    background-color: coral;
  }

  > main {
    flex: 1;
    display: grid;
    grid-template:
      "box1 box2 box3" 643fr/274fr 688fr 274fr;
    grid-column-gap: px(15);
    grid-row-gap: px(15);
    margin: px(15) px(20);

    > .section1 {
      grid-area: box1;
      background: $blue;
    }

    > .section2 {
      grid-area: box2;
      background: lightgray;
    }

    > .section3 {
      grid-area: box3;
      background: lightblue;
    }

    .顾客群体, .男女比例 {
      height: px(167);
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        flex-shrink: 0;
        font-size: px(14);
        line-height: px(14);
        padding-top: px(11);
        position: relative;

        &::after {
          position: absolute;
          left: px(-60);
          top: px(16);
          content: '';
          width: px(50);
          height: px(1);
          background: linear-gradient(271deg, #28a5cb 0%, #102550 70%);
        }

        &::before {
          position: absolute;
          left: px(93);
          top: px(16);
          content: '';
          width: px(50);
          height: px(1);
          background: linear-gradient(271deg, #102550 0%, #28a5cb 70%);
        }
      }

      .chart {
        flex: 1;
        width: 100%;
      }
    }

    .男女比例 {
      height: px(208);
      display: flex;
      flex-direction: column;


      > .chart {
        display: flex;
        flex: 1;
        position: relative;

        > .main {
          flex-grow: 1;
        }

        > .text {
          position: absolute;
          top: px(54);
          right: px(95);
          width: px(76);
          height: px(76);
          border-radius: 50%;
          background: linear-gradient(180deg, rgba(209, 136, 67, 1) 0%, rgba(209, 136, 67, 0) 100%);
          text-align: center;
          font-size: px(14);
          white-space: break-spaces;
          line-height: px(76);
        }
      }
    }
  }
}

.bordered {
  position: relative;
  background: #0c1139;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: 0px -1px 1px 0px rgba(62, 136, 189, 0.35) inset,
    0px 1px 1px 0px rgba(62, 136, 189, 0.35) inset;
  }
}