@import "../shared/helper";


.home {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;

  > header {
    height: px(58);
    background-size: cover;
  }

  > footer {
    height: px(19);
    background-color: coral;
  }

  > main {
    flex: 1;
    display: grid;
    grid-template:
      "box1 box2 box3" 643fr/274fr 688fr 274fr;
    grid-column-gap: px(15);
    grid-row-gap: px(15);
    margin: px(15) px(20);

    > .section1 {
      grid-area: box1;
      background: $blue;
    }

    > .section2 {
      grid-area: box2;
      background: lightgray;
    }

    > .section3 {
      grid-area: box3;
      background: lightblue;
    }
  }
}

.bordered {
  position: relative;
  background: #0c1139;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: 0px -1px 1px 0px rgba(62, 136, 189, 0.35) inset,
    0px 1px 1px 0px rgba(62, 136, 189, 0.35) inset;
  }
}